<html>
  <head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>
      New HTML Page
    </title>
  </head>
  <body>

    <h2 style="text-align: center;" data-ke-size="size26">&nbsp;</h2>

    <h2 style="text-align: center;" data-ke-size="size26">&nbsp;</h2>

    <h2 style="text-align: center;" data-ke-size="size26">&nbsp;</h2>

    <h2 style="text-align: center;" data-ke-size="size26">&nbsp;</h2>

    <h2 style="text-align: center;" data-ke-size="size26"><b>상장주 시초가 예측 서비스</b></h2>

    <h2 style="text-align: center;" data-ke-size="size26">&nbsp;</h2>
    
    <h2 style="text-align: center;" data-ke-size="size26">&nbsp;</h2>

    
    <table style="border-collapse: collapse; width: 43.8372%; margin: auto; height: 180px;" border="1" data-ke-align="alignLeft" data-ke-style="style12">
    <tbody>
    <tr style="height: 25px;">
    <td style="width: 33.3333%; height: 25px; text-align: center;" bgcolor="skyblue">회사명</td>
    <td style="width: 33.3333%; height: 25px; text-align: center;" bgcolor="skyblue">예상 수익률</td>
    <td style="width: 33.3333%; height: 25px; text-align: center;" bgcolor="skyblue">실제 수익률</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_name[0]}}</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_predict[0]}}%</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_profit[0]}}%</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_name[1]}}</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_predict[1]}}%</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_profit[1]}}%</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_name[2]}}</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_predict[2]}}%</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_profit[2]}}%</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_name[3]}}</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_predict[3]}}%</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_profit[3]}}%</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_name[4]}}</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_predict[4]}}%</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_profit[4]}}%</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_name[5]}}</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_predict[5]}}%</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_profit[5]}}%</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_name[6]}}</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_predict[6]}}%</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_profit[6]}}%</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_name[7]}}</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_predict[7]}}%</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_profit[7]}}%</td>
    </tr>
    <tr style="height: 18px;">
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_name[8]}}</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_predict[8]}}%</td>
    <td style="width: 33.3333%; height: 18px; text-align: center;">{{table_profit[8]}}%</td>
    </tr>
    <tr>
    <td style="width: 33.3333%; text-align: center;">{{table_name[9]}}</td>
    <td style="width: 33.3333%; text-align: center;">{{table_predict[9]}}%</td>
    <td style="width: 33.3333%; text-align: center;">{{table_profit[9]}}%</td>
    </tr>
    </tbody>
    </table>
    <p data-ke-size="size16">&nbsp;</p>
    
    <p  style="text-align: center;" data-ke-size="size16"><b>* 수익률 = (시초가 - 공모가)/공모가</b></p>
  </body>
</html>